/*=====
--Author Details
->Name : Haider Amjad 
=====*/
/*===== Fonts link =====*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
/*===== Global Style =====*/ 
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Red Hat Display', sans-serif; 
}
/*===== Variables =====*/ 
:root 
{
    /*primary colors*/
    --pale-blue : hsl(225, 100%, 94%); 
    --bright-blue : hsl(245deg 83% 62% / 28%);  
    --bright-opacity-blue : hsl(245, 75%, 52%);  
    /*Neutral Colors*/
    --very-pale-blue : hsl(225, 100%, 98%);
    --desaturated-blue : hsl(224, 23%, 55%);
    --dark-blue : hsl(223, 47%, 23%); 
    /*weight variables*/
    --small-weight : 500;
    --medium-weight : 700;
    --big-weight : 900; 
    /*shadow colors*/
    --normal-background : rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/*===== Main Styling Start from Here =====*/ 
body,html 
{
    overflow-x: hidden;
}
body 
{
    height: 100vh;
    width : 100vw; 
    background-color: var(--pale-blue);
    background-image:url("images/pattern-background-desktop.svg"); 
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*===== Main Dev Styling =====*/ 
.main 
{
    width: 360px; 
    height: 500px;
    border-radius: 6px;
    background-color: white; 
    box-shadow: var(--normal-background);
}
.illustration 
{
   width: 100%; 
   border-top-left-radius: 6px; 
   border-top-right-radius: 6px; 
}
.main-data 
{
    width: 100%; 
    padding: 10px;
}
.heading 
{
    text-align: center;
    font-weight: var(--big-weight);
    color: var(--dark-blue); 
    font-size: 1.7rem; 
    margin: 0;
    margin: 10px 0;
}
.paragraph 
{
    margin-bottom: 10px;
    text-align: center; 
    margin-left: 6px;
    margin-right: 6px;
    color : var(--desaturated-blue)
}
.main-card 
{
    width: 300px;
    height: 60px;
    border-radius: 6px;
    background-color: var( --bright-blue);
    display: flex;
    margin: auto; 
    margin-top: 10px; 
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.left-card 
{
    width: 65%; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-right: 6px;
}
.right-card 
{
    width: 35%; 
    display: flex;  
    flex-direction: column;
    justify-content: center;
}
.main-text-block 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main-text-block  > h1 
{
    font-weight: var(--small-weight); 
    color: var(--dark-blue);
}
.right-card > a
{
  align-self: flex-end;    
  color: var(--bright-opacity-blue);
}
.button 
{
    width: 300px;
    height: 60px; 
    margin: auto; 
    display: block; 
    margin-top: 10px; 
    border: none;
    background: var(--bright-opacity-blue); 
    cursor: pointer;
    border-radius: 6px;
    color: white;
    font-size: 1rem; 
    font-weight: var(--medium-weight);
}
.button:hover 
{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.bottom 
{
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}